# vim: set filetype=cfg:
#####key for ECMWF in Climate Data Store Application Program Interface
#Get it from https://retostauffer.org/code/Download-ERA5/
#for ERA5
[CDS]
key = 22445:4cf6f7b7-20ce-4be8-8a76-b4953ab39d12


#####The key to the new server for ECMWF
#Get it from https://software.ecmwf.int/wiki/display/WEBAPI/Accessing+ECMWF+data+servers+in+batch 
#for ERA-Interim [outdated]
[ECMWF]
email = the-email-address-used-as-login@ecmwf-website.org
key = 

#####Passwd and key for download from ucar
[ERA]
email = the-email-adress-used-as-login@ucar-website.org
key = 

#####No username/password is required for NARR
[NARR]

#####Username and password for download from NASA Earthdata
##pre-authorize the "NASA GESDISC DATA ARCHIVE" application in your account to download MERRA2
[MERRA]
user = she19890320
password = Melon_ed666
